@tailwind base;
@tailwind components;
@tailwind utilities;
.hadr__img {
  background: url("/img/IH7wPsjwomc.png");
  width: 10px;
  height: 100vh;
  margin-top: -100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.hadr__img {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
button {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid black;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #0e2458;
  z-index: -1;
}

button:hover,
button:focus {
  color: white;
}

button:hover:before,
button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

button:active {
  transform: scale(0.9);
}
.container1 {
  border: solid 1px #8d8d8d;
  padding: 20px;
  background-color: #fff;
  width: 430px;
  height: 450px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5),
    -5px -5px 10px rgba(227, 227, 227, 0.5);
}

.container1 .heading {
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-weight: bolder;
}

.form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form .btn-container1 {
  max-width: 200px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.form .btn {
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: solid 1px #1034aa;
  border-bottom: solid 1px #90c2ff;
  background: linear-gradient(135deg, #0034de, #006eff);
  color: #fff;
  font-weight: bolder;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 3px #000d3848, inset 0px 4px 5px #0070f0,
    inset 0px -4px 5px #002cbb;
}

.form .btn:active {
  box-shadow: inset 0px 4px 5px #0070f0, inset 0px -4px 5px #002cbb;
  transform: scale(0.995);
}

.input-field {
  position: relative;
  margin-top: 10px;
}

.input-field label {
  position: absolute;
  color: #8d8d8d;
  pointer-events: none;
  background-color: transparent;
  left: 15px;
  transform: translateY(0.6rem);
  transition: all 0.3s ease;
}

.input-field input {
  padding: 10px 15px;
  font-size: 1rem;
  border: solid 1px #8d8d8d;
  letter-spacing: 1px;
  width: 100%;
}

.input-field input:focus,
.input-field input:valid {
  outline: none;
  border: solid 1px #0034de;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  transform: translateY(-51%) translateX(-10px) scale(0.8);
  background-color: #fff;
  padding: 0px 5px;
  color: #0034de;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
}

.form .passicon {
  cursor: pointer;
  font-size: 1.3rem;
  position: absolute;
  top: 6px;
  right: 8px;
}

.form .close {
  display: none;
}
.show__cards {
  display: grid;
  grid-template-columns: repeat(3, 230px);
  text-align: center;
  gap: 20px;
}
.show__olo {
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
}
.b {
  font-weight: 700;
  font-size: 32px;
  line-height: 43.71px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
.lopp0e {
  font-weight: 700;
  font-size: 32px;
  line-height: 43.71px;
  letter-spacing: 0%;
  margin-top: 20px;
}
.naloa{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 80%;
  max-width: 900px;
  margin-left: 150px;
}
.nabar1 {
}
.nabar2 {
}
.nabar3 {
}
.nabar4 {
}
.nabar5 {
  margin-top: -130px;
}
.nabar6 {
  margin-top: -270px;
}
.nabar7 {
}
.nabar8 {
  margin-top: -70px;
}
.nabar9{
  margin-top: -240px;
}
.nabar{
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.lorm__img{
  width: 600px;
  height: 70vh;
}
.lorm__l{
font-weight: 700;
font-size: 27px;
line-height: 43.71px;
letter-spacing: 0%;
}
.inptler{
  padding: 10px 10px;
  width: 60%;
}
.navbar__footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.footer__boxes{
  padding: 30px 0px;
}
.list p{
  font-weight: 700;
  font-size: 16px;
  line-height: 21.86px;
  letter-spacing: 0%;
  
}
.radio-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-input * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radio-input label {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  width: 220px;
  cursor: pointer;
  height: 50px;
  position: relative;
}

.radio-input label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 45px;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 10px;
  border: 2px solid transparent;
}
.radio-input label:hover::before {
  transition: all 0.2s ease;
  background-color: #2a2e3c;
}

.radio-input .label:has(input:checked)::before {
  background-color: #2d3750;
  border-color: #435dd8;
  height: 50px;
}
.radio-input .label .text {
  color: #fff;
}

.radio-input .label input[type="radio"] {
  background-color: #202030;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-input .label input[type="radio"]:checked {
  background-color: #435dd8;
  -webkit-animation: puls 0.7s forwards;
  animation: pulse 0.7s forwards;
}

.radio-input .label input[type="radio"]:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fff;
  transform: scale(0);
}

.radio-input .label input[type="radio"]:checked::before {
  transform: scale(1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@media (max-width: 949px) {
  #checkbox:checked ~ .mobile {
    left: 0;
    width: 100%;
    transition: 0.5s;
  }
  .mobile {
    background-color: grey;
    color: white;
    z-index: 1111;
  }
  .paragrp {
    display: none;
  }
  .btn {
    display: none;
  }
  .hadr__img {
    margin-top: 50px;
    height: 50vh;
    border-radius: 40px 40px 0px 0px;
  }
  .hero__boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .showcase__boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .shovcase__item1 img {
    display: none;
  }
  .shovcase__item2 img {
    display: none;
  }
  .select__boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  .accordion-item {
    width: 300px;
    margin-left: -10px;
  }
  .images111 {
    width: 447px;
    height: 475px;
    margin-top: 50px;
  }
  .hero__boxxes1 {
    display: none;
  }
  .lorem__boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
  .footer {
    display: none;
  }
  .header__boxes {
    display: none;
  }
  .button__hrder {
    display: none;
  }
  .img__hero {
    max-width: 500px;
  }
  .boxes__herom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container1 {
    display: none;
  }
  .perolpper {
    width: 300px;
    height: 315px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
  }
  .show__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .very__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .lorem__boxes{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .lorem__button{
    display: none;
  }
  .lorm__img{
    width: 250px;
    height: 40vh;
  }
  .lorm__l{
    display: none;
  }
  .lorem__color{
    margin-top: 50px;
    margin-left: -10px;
    text-align: center;
  }
  .navbar__footer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .fotr__lo{
    display: flex;
    justify-content: center;
  }
  .inptler{
    width: 260px;
  }
  .naloa{
    display: none;
  }
}
@media (max-width: 600px) {
  .show__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .imglar {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    place-items: center;
  }
}
